.quiz-header {
    position: relative;
    min-height: 50px;
    display: grid;
    grid-template-columns: 253px 128px;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}