@use 'Styles/utilities' as *;

.button {
	height: 72px;
	width: 564px;

	background-color: $purple;

	display: grid;
	place-items: center;
	color: $white;
	font-size: 28px;
	font-weight: bold;
	line-height: 100%;
	border-radius: 20px;
	box-shadow: $button_box-shadow;
	margin-top: 32px;
    transition: .5s ease filter;

	&:hover {
		filter: brightness(1.2);
	}

	@include breakpoint(lg) {
		& {
			width: 100%;
		}
	}
}
