@use 'Styles/utilities' as *;

.intro {
	&__head,
	&__head--bold {
		font-size: 64px;
		font-weight: 300;
		line-height: 100%;
	}

	&__head--bold {
		font-weight: 500;
		margin-bottom: 48px;
	}

	&__body {
		font-size: 20px;
		font-style: italic;
		font-weight: 400;
		line-height: 150%;
		color: $text_secondary;
	}


	@include breakpoint(lg) {
		&__head--bold {
			margin-bottom: 16px;
		}

		&__body {
			margin-bottom: 64px;
		}
	}
}
