@use 'Styles/utilities' as *;

.progress-bar {
	width: 465px;
	height: 16px;
	padding: 4px;
	border-radius: 999px;
	background: $progress-bar_bg;

	&__bar {
		width: 0%;
		height: 8px;

		border-radius: 104px;
		background: $purple;
        transition: 750ms ease-in-out width;
	}


	@include breakpoint(lg) {
		width: 100%;
		margin-bottom: 64px;;
	}
}
