@use 'Styles/utilities' as *;

html[data-theme='dark'] {
	--body_bg: #f4f6fa;
	--option_bg: #3b4d66;
	--progress-bar_bg: #3b4d66;
	--option_box-shadow: rgba(49, 62, 81, 0.14);
	--button_box-shadow: rgba(49, 62, 81, 0.14);
	--text_primary: #fff;
	--text_secondary: #abc1e1;
}

html[data-theme='light'] {
	--body_bg: #313e51;
	--option_bg: #fff;
	--progress-bar_bg: #fff;
	--option_box-shadow: rgba(143, 160, 193, 0.14);
	--button_box-shadow: rgba(143, 160, 193, 0.14);
	--text_primary: #313e51;
	--text_secondary: #626c7f;
}
